footer a {
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ddd;
}

footer {
    font-family: "EB Garamond", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Thêm đoạn này để căn giữa cột logo theo chiều dọc */
.logo-section .d-inline-block {
    display: inline-block; /* Để căn giữa logo và nội dung trong cột */
    vertical-align: middle; /* Căn giữa theo chiều dọc */
}


/* Thêm đoạn này để dàn đều các liên kết trong "CUSTOMIZED ORDER" */
.custom-order-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

/* Thêm margin cho các liên kết */
.custom-order-list a {
    margin-bottom: 10px;
}

.stayconnect{
    margin-bottom: 25px; 
}

.list-shortcut{
    margin-top: 30px;
}

.payment-icons img{
    margin-left: 10px;
}



