/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 12, 2025, 7:54:50 PM
    Author     : ACER
*/


header {
   font-family: "EB Garamond", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: yellow; /* Màu chữ khi di chuột qua, bạn có thể thay đổi màu này */
    text-decoration: underline; /* Thêm gạch chân khi hover, tùy chọn */
}
.search-cart input {
    padding: 5px;
    border: none;
    border-radius: 4px;
}
.search-cart button {
    background-color: #0C191B;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}
#searchResults {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 250px;
    display: none;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.search-item:hover {
    background-color: #f0f0f0;
}